{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>Rayner Tan</h1>
<div class="row">
    <div class="col-md-4">
        <img src="{% static "img/profile.jpg" %}" alt="" width="100%">
    </div>
    <div class="col-md-8">
        <h3><b>About me</b></h3>
        <p>An adventurous Information Technology student at Ngee Ann Polytechnic who posses outstanding teamwork and communication skills. Willing to adapt and a lifelong learner.</p>
        <br>
        <h3><b>Experience</b></h3>
        <br>
        <h4>Intern</h4>
        <h5>ST Engineering</h5>
        <h5>Mar 2019 - Aug 2019 - 6 mos</h5>
        <p>
            Evaluate video analytics solutions<br>
            Developed video analytics software modules<br>
            Data analysis of facial recognition, vehicle make model and pattern recognition data<br>
            Executed office imporvement initiatives to improve efficiency
        </p>
        <br>
        <h4>Warehouse Assistant</h4>
        <h5>Thermofischer Scientific</h5>
        <h5>Jan 2017 - Feb 2017 - 1 mos</h5>
        <p>
            Performed basic warehousing duties and assisted co-workers with the allocation of products and goods.
        </p>
        <br>
        <h3><b>Education</b></h3>
        <br>
        <h4>Ngee Ann Polytechnic</h4>
        <h5>Diploma, Information Technology</h5>
        <h5>2017 - 2020</h5>
        <br>
        <h4>Bukit Batok Secondary School</h4>
        <h5>GCE ('O'Levels)</h5>
        <h5>2013 - 2016</h5>
    </div>
</div>

{% endblock %}
